<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My first view</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <nav>
    <div>
      <a href="/">Home</a>
      <a href="/beers">Beers</a>
      <a href="/random-beer">Random beer</a>
      </div>
  </nav>
  {{{ body }}}
</body>
</html>